.mode-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 20px;
    margin: 2px 2em;
}

.mode-toggle {
    margin-right: 0px;
  }
.mode-toggle img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}