.search-form{
  height: 100vh;
}

.searchbar{
  width: 20em;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 60px auto;
  padding: 10px;
}

.score-filter {
    margin: 30px auto;
  }
.page-title-search {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
.score-filter nav {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}
.score-filter p {
    font-size: 0.9em;
    margin-right: 10px;
}
.score-filter button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    border-right: 1px solid #e4e4e4;
    font-size: 0.9em;
}
.score-filter button:last-child {
    border: 0;
  }
.score-filter button.active {
    color: var(--primary-color);
}

.search-form.dark{
  color:#fff;
}
